<footer class="bg-dark text-center p-4">
    <p class="h4">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Dignissimos, architecto? Dignissimos odio eos iure consequatur alias quos commodi repellendus. 
        Doloremque explicabo, inventore asperiores quia facere culpa dignissimos iure eveniet deserunt.</p>
</footer>